{{#> layout title=title }}
        
    {{#*inline "head-block"}}
        <style type="text/css">
        </style>
    {{/inline}}

    {{#*inline "content"}}
        <p>{{{table data}}}</p>
    {{/inline}}

{{/layout}}
